@import "foundation/foundation";
@import "fontawesome/font-awesome.scss";

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body { font-family: sans-serif; }

/* ---- grid ---- */

.grid {
  /*background: #EEE;*/
  max-width: 1200px;
}

/* clearfix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- grid-item ---- */

.grid-sizer,
.grid-item {
  width: 20%;
}

@media #{$medium-only} {
  .grid-sizer,
  .grid-item {
    width: 25%;
  }
}

@media #{$small-only} {
  .grid-sizer,
  .grid-item {
    width: 33.33%;
  }
}

.grid-item {
}

.grid-item--width2 { width:  40%; }
.grid-item--width3 { width:  60%; }

.grid-item--height2 { height: 200px; }
.grid-item--height3 { height: 260px; }
.grid-item--height4 { height: 360px; }
img{width:100%;}

.side-nav{
  padding:0;
}
.side-nav li {
  margin:0;
}

.tags .button.tiny {
  margin: .2em;
  padding: .3em;
}

.full-width-table {
  width: 100%;
}

.grid-item img {
  opacity:0;
}

.grid-item img.masonry-grid-image {
  opacity: 1;
  transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  -webkit-transition: opacity .5s ease-in-out;
}



